body{
    background-color: rgba(255, 228, 196, 0.797);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 10px;
    max-width: 500px;
    margin: 100px auto;
    background-color: #000000d1;
    color:#fff;
    border-radius: 7px;
    box-shadow: 0 0 5px #1874de;
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 15px;
}
form label{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
form input{
    padding:8px;
    border-radius: 10px;
    border:none;
    outline:none;
}
form select{
    padding: 8px;
    border-radius: 10px;
}
form button{
    padding: 8px;
    background-color: rgb(43, 178, 246);
    border:none;
    border-radius: 10px;
    margin-top:10px;
    font-size: 23px;
    color: #fff;
}
.popup{
    display:none;
  position:fixed;
  top:50%; left:50%;
  transform:translate(-50%, -50%);
  background:#fff;
  padding:20px;
  border-radius:8px;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
  text-align:center;
}